@import "tailwindcss";

@theme inline {
  --font-urbanist: var(--font-urbanist);
}

@theme {
  /* breakpoints */
  --breakpoint-desktop: 90rem;

  /* colors */
  --color-primary: #fafafa;
  --color-secondary: #939393;
  --color-secondary-black: #282828;
  --color-tertiary-black: #5c5c5c;
  --color-paragraph: #626262;
  --color-overlay: #7c7c7c00;
  --color-gray-1: #C5C5C5;
  --color-border-1: #707070;
  --color-border-2: #dedede;
  --color-border-3: #a9a9a9;
  --color-border-4: #c6c6c654;
  --color-backdrop-bg: #9c9c9c87;
  --color-green: #39ab65;
  --color-green-light: #125f3f;
}

@layer base {
  html {
    @apply leading-none;
  }
  body {
    @apply box-border p-0 m-0 text-black font-urbanist bg-primary;
  }
  button {
    @apply cursor-pointer;
  }
  p {
    @apply text-base font-medium;
  }
}

@layer components {
  .bg-overlay {
    background: linear-gradient(
      270deg,
      rgba(124, 124, 124, 0) 0%,
      rgba(0, 0, 0, 0.72) 100%
    );
  }
}

@layer utilities {
  .wrapper {
    @apply desktop:max-w-[1351px] xl:max-w-[1080px] lg:max-w-[960px] md:max-w-[700px] sm:max-w-[580px] max-w-[310px] mx-auto w-full;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
}
